{% extends 'base.html' %}
{% load static %}

{% block header %}
<title>ADMIN DASHBOARD</title>
<link rel="stylesheet" href="{% static 'CSS/admin_dash.css' %}">
{% endblock %}
{% block content %}
<nav class="navbar navbar-light navbar-right" style="background-color: teal;">
    <h3><i class="fas fa-tachometer-alt"></i> ADMIN DASHBOARD</h3>
    <a href="home.html"><button type="button" class="btn-lg btn-danger btn">SIGN OUT</button></a>
    
  </nav>

  <div class="left_menu">
    <div class="btn-group-vertical" role="group" >
        <button type="button" id="create" class="btn-lg btn-danger bt">CREATE A QUIZ</button>
        <button type="button" id="show" class="btn-lg btn-danger bt">SHOW STUDENT RECORDS</button>
    </div>
</div>
<div class="content" id="edit">
    <form>
        <div class="form-group">
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="+ ADD COURSE NAME" required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="+ ADD QUESTION" >
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="+ ADD OPTION 1" >
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="formGroupExampleInput4" placeholder="+ ADD OPTION 2" >
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="formGroupExampleInput5" placeholder="+ ADD OPTION 3">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="formGroupExampleInput6" placeholder="+ ADD OPTION 4">
          </div><br/>
          <button type="button" id="butt" class="btn-lg btn-success ">ADD</button>
          <button type="button" id="butt" class="btn-lg btn-danger ">DELETE</button>
      </form>   
</div>
<div class="records" id="rec">
    <div class="container-fluid">
        <a class="card1" href="#">
          <h3>John Smith</h3>
          <p>STUDENT ID 1</p>
          <p class="small">WEB PROGRAMMING<br/>SCORE <b><i>4/5</i></b></p>
        </a>
    </div>
    <div class="container-fluid">
        <a class="card1" href="#">
          <h3>Kiara Khanna</h3>
          <p>STUDENT ID 2</p>
          <p class="small">WEB PROGRAMMING<br/>SCORE <b><i>3/5</i></b></p>
        </a>
    </div>
    <div class="container-fluid">
        <a class="card1" href="#">
          <h3>John Smith</h3>
          <p>STUDENT ID 1</p>
          <p class="small">WEB PROGRAMMING<br/>SCORE <b><i>4/5</i></b></p>
        </a>
    </div>
</div>
<script src="{% static 'js/admin_dash.js' %}"></script>
{% endblock %}