{% extends 'base.html' %}
{% load static %}

{% block header %}
{% if user.is_staff %}
<title>ADMIN DASHBOARD</title>
<link rel="stylesheet" href="{% static 'CSS/admin_dash.css' %}">
{% else %}
<script>
window.location.replace("{% url 'student-home' %}");
</script>
{% endif %}
{% endblock %}

{% block content %}

<nav class="navbar navbar-light navbar-right" style="background-color: teal;">
  <a href="{% url 'quiz-home' %}"><button type="button" class="btn-lg btn-primary" id="btn">BACK HOME</button></a>
  <h3><i class="fas fa-tachometer-alt"></i> ADMIN DASHBOARD</h3>
    <a href="{% url 'student-logout' %}"><button type="button" class="btn-lg btn-danger btn">SIGN OUT</button></a>
  </nav>

  <div class="left_menu">
    <div class="btn-group-vertical" role="group" >
      <button type="button" id="dash_btn" class="btn-lg btn-danger bt" >DASHBOARD</button>
       <button type="button" id="create" class="btn-lg btn-danger bt">CREATE A QUIZ</button>
        <button type="button" id="show" class="btn-lg btn-danger bt">COURSES</button>
    </div>
</div>

<div class="dash" id="dashboard">  
  <h1>Dashboard</h1>
</div>
<div class="content" id="edit" style="text-align: center;">
  <h1 align="justify" style="color:teal; padding:2%; padding-left:22%;">QUIZZES AVAILABLE</h1>
  
      {% for quiz in quizs %}
      <div class="container-fluid animate__animated animate__slideInUp animate__slow">
        <a class="card1" style="text-decoration:none;"href="{% url 'quizdetail' quiz.id %}"><h2>{{quiz.quiz_subject}}-{{quiz.quiz_name}}</h2></a>
    </div>
      {% endfor %}
  
  <a href="{% url 'quizcreate' %}"><button class="btn-lg btn-outline-success">+ ADD QUIZ</button></a>
</div>


<div class="records animate__animated animate__slideInUp animate__slow" id="rec">
  {% for quiz in quizs%}
    <div class="container-fluid">
        <a class="card1" href="{% url 'student-records' quiz.id%}">
          <h3>{{quiz.quiz_subject}}</h3>
          <p class="small">TEST DATE: {{quiz.quiz_end}}<br/>
          EXAM TYPE: {{quiz.quiz_name}}<br/> <b><i>TIME DURATION: {{quiz.quiz_time}}mins</i></b></p>
        </a>
    </div>
    {% endfor %}
</div>


<script src="{% static 'js/admin_dash.js' %}"></script>


{% endblock %}

