{% extends "base.html"%}
{% block content%}
<nav class="navbar navbar-light navbar-right" style="background-color: teal; padding:10px 30px;">
    <a href="{% url 'admin-dash' %}"><button type="button" class="btn-lg btn-danger btn">BACK TO ADMIN DASHBOARD</button></a>
    <a href="{% url 'student-logout' %}"><button type="button" class="btn-lg btn-danger btn">SIGN OUT</button></a>
  </nav>
  <div class="container">
    <h3 style="color:teal;">Course: {{quiz_detail.quiz_subject}} || Quiz Name : {{quiz_detail.quiz_name}}</h3>
    <h3 style="color:teal;">Questions:</h3>
    <ol>
    {% for question in quiz_detail.question_set.all %}
        <hr>
        <li>    
            <b>{{question.question_text}}</b></li>
    {% for ans in question.choice_set.all %}
    <ul type="none">
        <li>   
            <p>{{ans.choice_text}} : [value : <i>{{ans.ans}}</i>]</p>     
        </li>
    </ul>
    {% endfor %}
    <a type='muted' href="{% url 'choiceadd' pk=quiz_detail.pk p=question.id %}"><button type="button" class="btn-sm btn-outline-success">ADD OPTIONS</button></a>
   <hr>
    {% endfor %}
</ol>
</div>
<div class="buttons">
    
    <a  href="{% url 'quizdelete' pk=quiz_detail.pk %}"> <button class="btn-sm btn-outline-danger bt">Delete Quiz</button></a>
    <a  href="{% url 'questionadd' pk=quiz_detail.pk %}"> <button class="btn-sm btn-outline-success bt">Add Questions</button></a>
</div>
  </div>
    <style>
        .buttons{
            padding: 0.5%;
            margin-left:2%;
            text-align: center;
        }
    </style>
    
{% endblock %}