{% extends "base.html"%}
{% load static %} 
 
{% block header %}
<link rel="stylesheet" href="{% static 'CSS/test.css' %}">
{% endblock %} 

{% block content%}
<nav class="navbar navbar-light navbar-right" style="background-color: teal;">
    <a href="{% url 'admin-dash' %}"><button type="button" class="btn-lg btn-danger btn">BACK TO ADMIN DASHBOARD</button></a>
    <a href="{% url 'student-logout' %}"><button type="button" class="btn-lg btn-danger btn">SIGN OUT</button></a>
  </nav>
  <div class="result animate__animated animate__pulse animate__slow" id="res">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">ARE YOU SURE YOU WANT TO DELETE {{quiz_detail.quiz_name}} ?</h5>
          <p class="card-text">
            <form method="post">
                {% csrf_token %}
                <input type="submit" class="btn-sm btn-outline-danger" value="Delete">
                <a href="{% url 'quizdetail' quiz.pk %}"><button type="button" class="btn-sm btn-success">CANCEL</button></a>
            </form>
          </p>
        </div>
        
      </div>
{% endblock %}