{% extends 'base.html' %}
{% load static %}

{% block header %}
{% if user.is_staff %}
<title>ADMIN DASHBOARD</title>
<link rel="stylesheet" href="{% static 'CSS/records.css' %}">
{% else %}
<script>
window.location.replace("{% url 'student-home' %}");
</script>
{% endif %}
{% endblock %}
{% block content %}

<nav class="navbar navbar-light navbar-right" style="background-color: teal;">
    <a href="{% url 'admin-dash' %}"><button type="button" class="btn-lg btn-danger btn">BACK TO ADMIN DASHBOARD</button></a>
    <a href="{% url 'student-logout' %}"><button type="button" class="btn-lg btn-danger btn">SIGN OUT</button></a>
  </nav>

<table class="animate__animated animate__zoomIn animate__slow">
                <thead>
                  <tr>
                    <th>STUDENT NAME</th>
                    <th>STUDENT ID</th>
                    <th>EXAM SCORE</th>
                  </tr>
                </thead>
                <tbody>
                    {% for record in records %}
                  <tr>
                    <td data-column="STUDENT NAME">{{record.student_name}}</td>
                    <td data-column="STUDENT ID">{{record.student_sap}}</td>
                    <td data-column="EXAM SCORE">{{record.student_marks}}/{{record.total_marks}}</td>
                  </tr>
{% endfor %}
                </tbody>
              </table>
{% endblock %}