{% extends 'base.html' %}
{% load static %} 
 
{% block header %}
<title>ONLINE EXAM</title>
    <link rel="stylesheet" href="{% static 'CSS/test.css' %}">
{% endblock %} 

{% block content%}
<nav class="navbar navbar-light navbar-right" style="background-color: teal;">
    <h3><i class="fas fa-tachometer-alt"></i> TIME LEFT</h3></nav>
 
    <div id="quiz">
        <form action="{% url 'result-quiz' quiz_id %}" method="POST">
          {% csrf_token %}
          <input type="hidden" value="{{sap}}" name="sap"> 
          <input type="hidden" value="{{user.email}}" name="email"> 
          <input type="hidden" value="{{user.first_name}}" name="name"> 
          {% for question in questions_list %}
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{question.question_text}}</h5>
                  <p class="card-text">
                    {% for choice in question.choice_set.all %}
                    <div class="radio">
                      <label> <input type="radio" name="{{question.question_text}}"  value="{{choice.ans}}">{{choice.choice_text}}</label>
                    </div>
                      {% endfor %}
                  </p>
                </div>
              </div>
              {% endfor %}
              <button type="submit" class="btn-lg btn-success bt" id="btn">SUBMIT</button>
  </form>
</div>
  <!-- <div class="result" id="res">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Your test response had been submitted successfully.</h5>
          <p class="card-text">
           You have scored 2/4 in the test!
          </p>
        </div>
      </div>
  </div>
     <script src="{% static 'js/test.js' %}" ></script> -->
   
{% endblock %}