{% extends 'base.html' %}
{% load static %} 
 
{% block header %}
<title>ONLINE EXAM</title>
    <link rel="stylesheet" href="{% static 'CSS/test.css' %}">
{% endblock %} 

{% block content%}
<nav class="navbar navbar-light navbar-right" style="background-color: teal;">
    <h3 id="countdown">{{time}}</h3><h3 style="margin-right: 2%;">ONLINE EXAM</h3></nav>
   
    <div id="quiz">
        <form action="{% url 'result-quiz' quiz_id %}" name="myForm" method="POST">
          {% csrf_token %}
          <input type="hidden" value="{{sap}}" name="sap"> 
          <input type="hidden" value="{{user.email}}" name="email"> 
          <input type="hidden" value="{{user.first_name}}" name="name"> 
          {% for question in questions_list %}
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{question.question_text}}</h5>
                  <p class="card-text">
                    {% for choice in question.choice_set.all %}
                    <div class="radio">
                      <label> <input type="radio" name="{{question.question_text}}"  value="{{choice.ans}}">{{choice.choice_text}}</label>
                    </div>
                      {% endfor %}
                  </p>
                </div>
              </div>
              {% endfor %}
              <button type="submit" class="btn-lg btn-success bt" id="btn">SUBMIT</button>
  </form>
<!-- </div>
   <div class="closed" id="cl">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Sorry, time up!</h5>
          <p class="card-text">
           This quiz is no longer accepting responses.
          </p>
        </div>
      </div>
  </div> -->
    <script src="{% static 'js/test.js' %}" ></script> 
{% endblock %}