/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
}

nav 
{
    height:10vh;
}
nav h3{
    padding-left:1%;
    color:white;
}
#quiz form{
    align-items: center;
}
.card{
    width:80%;
    margin:0.5%;
    margin-left: 8%;
    -webkit-box-shadow: 4px 4px 12px -4px rgba(191,191,191,0.89); 
box-shadow: 4px 4px 12px -4px rgba(191,191,191,0.89);
background: #FFFFFF;
}

.radio{
    margin:1.5%;
    font-weight: 500;
    color: rgb(39, 138, 138);
}
.radio:hover{
    background-color: rgba(255,255,255,0.05);
    color:teal;
    font-weight: 800;
    font-size: large;
    cursor: pointer;
}
.bt{
    margin-left:45%;
    margin-bottom:1%;
}
.card-title{
    padding:1%;
    background: teal;
    color: white;
}