{% extends 'base.html'%}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'CSS/home.css' %}">
<title>Online Quiz</title>
{% endblock %}

{% block content %}
<div class="background">
    <div id="layer">
        <div class="row">
            <div class="column animate__animated animate__slideInLeft animate__slow" id="content" >
                <h1>ONLINE QUIZ</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, quis? Voluptatibus error, tempora nesciunt totam odio nemo nobis sunt minima, nam quisquam non quibusdam aspernatur quidem esse? Amet, delectus ipsum?</p>
            {% if user.email %}
            {% if user.is_staff %}
            <h1>Choose:</h1>
            <a href="{% url 'admin-dash' %}"><button type="button"class="animate__animated animate__pulse animate__slower btn-lg btn-outline-success buttons">TEACHER</button></a>
           {% else %}
           <h1>Enter:</h1>
            {% endif %}
            {% else %}
            <h1>ARE YOU A</h1>
            <a href="{% url 'admin-dash' %}"><button type="button"class="animate__animated animate__pulse animate__slower btn-lg btn-outline-success buttons">TEACHER</button></a>
            {% endif %}
            {% if user.email %}
            {% if not user.is_staff%}
            <form action="{% url 'student-home' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="text" name="mail" value="{{user.email}}" hidden>
                <button type="submit" class="animate__animated animate__pulse animate__slower btn-lg btn-outline-success buttons">DASHBOARD</button>
            </form>
            <form action="{% url 'student-records' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="text" name="mail" value="{{user.email}}" hidden>
                <button type="submit" class="animate__animated animate__pulse animate__slower btn-lg btn-outline-success buttons">RESULTS</button>
            </form>
            {% else %}
            <form action="{% url 'student-home' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="text" name="mail" value="{{user.email}}" hidden>
                <button type="submit" class="animate__animated animate__pulse animate__slower btn-lg btn-outline-success buttons">STUDENT</button>
            </form>
            {% endif %}
            {% else %}
            <a href="{% url 'student-home' %}"><button type="button"class="animate__animated animate__pulse animate__slower btn-lg btn-outline-success buttons">STUDENT</button></a>
           {% endif %}
        </div>
            <div class="column" id="image">
                <section class="image">
                    <img src="https://icon-library.com/images/exam-icon-png/exam-icon-png-24.jpg" height="50%" alt="online exam vector"/>
                </section>
            </div>
        </div> 
        <footer class="column animate__animated animate__pulse animate__slower" style="text-align: center; align-items:center; margin-top:6%;">CREATED AND MANAGED BY ALANKRIT ARYA, BHOOMIKA VALANI AND CHAITANYA KUMBHAR.<br/>All © copyrights reserved.</footer>
    </div>
</div>
{% endblock %}